<form method="post" action="{{ path('app_eleves_delete', {'id': elefe.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cet élève?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ elefe.id) }}">
    <button class="btn">Supprimer</button>
</form>
