{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
        <style>
            body {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 2rem 1rem;
        }

        body.card {
            background: #fff;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            border-radius: 12px;
            padding: 2rem;
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        </style>
        {% endblock %}

  <body>
    <header>
      <h1>École de Musique : eMusic</h1>
      <p>Former les talents d’aujourd’hui, inspirer les musiciens de demain.</p>
    </header>

    <nav>
      <a href="{{ path('app_instrument_index') }}">Instruments</a>
    </nav>

    <main>
      {% block body %}{% endblock %}
    </main>

    <footer>
      <p>&copy; {{ "now"|date("Y") }} École de Musique : eMusic — Tous droits réservés.</p>
    </footer>
  </body>
</html>