{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}École de Musique : eMusic{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/note.ico') }}">
  </head>

  <body>
    <header>
      <h1>École de Musique : eMusic</h1>
      <p>Former les talents d’aujourd’hui, inspirer les musiciens de demain.</p>
    </header>

    <nav>
      <a href="{{ path('app_instrument_index') }}">Instruments</a>
    </nav>

    <main>
      {% block body %}{% endblock %}
    </main>

    <footer>
      <p>&copy; {{ "now"|date("Y") }} École de Musique : eMusic — Tous droits réservés.</p>
    </footer>
  </body>
</html>