{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1>S'inscrire à un cours</h1>

    {{ include('inscriptions/_form.html.twig') }}

    <a href="{{ path('app_inscriptions_new') }}">back to list</a>
{% endblock %}
